$header-font-color : #fff;

$header-height : 50px;

header{
  position:fixed;
  // display:block;
  width:100%;
  height: $header-height;
  line-height: 50px;
  background:#373737;
  color: $header-font-color;
  z-index: 99999;
}

.header-left{
  margin-left: 20px;
  display:inline-block;
  float:left;
}

.header-right{
  margin-right: 20px;
  display:inline-block;
  float:right;
}
